/* .logo {
  float: right;
} */

a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет от родительского элемента */
}

a:hover {
  opacity: 0.8; /* Немного уменьшаем прозрачность при наведении */
}

